* {
    background-color: white;
    color: black;
    font-size: 10px;
    margin: 0;
    box-sizing: border-box;
        /* background-image: url(./images/pexels-mdsnmdsnmdsn-1831234.jpg) */
}

body {
    margin-left: 15%;
    margin-right: 15%;
}

.header-main {
    display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
}

.stock-photo {
    max-width: 300px;
    object-fit: cover;
}


.about-me-container {
    max-width: 600px;
    background-color: white;
}

.about-me {
  color: black;
  background-color: white;
    font-size: 3rem;
    margin: 10px;
}

h1 {
    margin: 10px;
    color: black;
    background-color: white;
    font-size: 4rem;
}

.main {

}

.projects {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    /* grid-auto-rows: repeat(auto-fit, minmax(400px, 1fr)); */
    gap: 50px;
}

.grid-item {
    background-color: white;
    /* border: 1px solid white; */
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.screenshot {
    max-width: 100%;
    object-fit: cover;
}

.links-container {
    max-width: 100%;

    margin: 15px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end
}

h4 {
    font-size: 2rem;
}

.link-icon {
    object-fit: cover;
    max-height: 20px;
}

.test2 {
    object-fit: cover;
    max-height: 20px;
}

.description-text {
    font-size: 1.5rem;
}

.description-container {
    padding-bottom: 50px;
    
}

.project-header {
    text-align: center;
    margin: 15px;
    font-size: 3rem;
}

.footer-container {
      display: flex;
        justify-content: center;
        align-items: center;
        background-color: rebeccapurple;
        padding: 15px;
}

.contact-container, h3, .contact-info {
    background-color: rebeccapurple;
}

.contact-info {
    color: black;
    font-size: 1.5rem;
    /* margin: 10px; */
}

h3 {
    font-size: 3rem;
    color: black;
 }

.contact-me-image-container {
    max-width: 300px;
}

.contact-me-image {
    max-width: 100%;
}