* {
    background-color: black;
    color: white;
    font-size: 10px;
    margin: 0;
}

.header-main {
    display: flex;
		justify-content: center;
		align-items: center;

}

.stock-photo {
    width: 300px;
    height: 400px;
    object-fit: cover;
}


.about-me {
	max-width: 600px;
	background-color: white;
}

p {
    color: black;
    background-color: white;
		font-size: 3rem;
		margin: 10px;

}

h1 {
		margin: 10px;
	  color: black;
    background-color: white;
		font-size: 4rem;
}